/* Bordered form */
body {
    font-family: helvetica, arial, verdana, sans-serif;
    color: orange;
}
@media screen and (max-width: 450px) {
    form {
        
        align-content: center;
        position: relative;
        margin: 20pt;
        height: 80%;
    }
}

@media screen and (max-width: 2400px) {
    form {
        align-self: center;
       
        align-content: center;
        
        position: relative;
        margin: 20pt;
        height: 75%;
    }
}

.box {
    position: relative;
    align-items: center;
    margin: 100pt;
    width: 20em;
    size: 20%;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
}

img {
    width: 100%;
}

h1 {
    padding: 12px 20px;
    margin: 8px;
    text-align: center;
    color: white;
    background: orange;
}

/* Full-width inputs */

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */

button {
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */

button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */

.signupbutton {
    width: auto;
    padding: 10px 18px;
    background-color: orange;
}

/* Center the avatar image inside this container */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */

img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */

.container {
  
    padding: 16px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

/* The "Forgot password" text */

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}