/* Bordered form */

body {
    background: url(background.jpg) no-repeat center center;
    background-repeat: none;
    background-size: 2460px 1000px;
    font-family: helvetica, arial, verdana, sans-serif;
    color: orange;
}

form {
    align-self: center;
    align-content: center;
    position: relative;
    margin: 20pt;
    height: 100%;
}

.parent {
    display: table;
    margin: 0 auto;
    height: 100%;
}

.box {
    background-color: white;
    display: table-cell;
    vertical-align: middle;
    width: 20em;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
}

.boxR {
    background-color: white;
    display: table-cell;
    vertical-align: middle;
    width: 40em;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
    height: auto;
}

img {
    width: 100%;
}

h1 {
    padding: 12px 20px;
    margin: 8px;
    text-align: center;
    color: white;
    background: orange;
}

/* Full-width inputs */

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

input[type=text]:focus, textarea:focus, [type=password]:focus {
    box-shadow: 0 0 5px orange;
    border: 1px solid orange;
}

.disable_text_highlighting {
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
    /* Currently not supported in Opera but will be soon */
    -o-user-select: none;
    user-select: none;
    }
/* Set a style for all buttons */

button {
    margin: auto;
    background-color: orange;
    color: white;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 5px 0px #000;
    width: 100%;
}

/* Add a hover effect for buttons */

button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */

.signupbutton {
    width: auto;
    padding: 10px 18px;
    background-color: orange;
}

/* Center the avatar image inside this container */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.fpsw:hover {
    opacity: 0.5;
}

/* Add padding to containers */

.container {
    padding: 16px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

/* The "Forgot password" text */

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}