    .container {
       display: block;
       position: relative;
       /*padding: 20px 30px;*/
    }

    body {
        background-color: white;
    }
    /*Top Navigation Bar*/
    
    .topbar {
        background-color: grey;
        display: block;
        color: white;
        padding: 15px 5px;
       
    }

    .topbar a{
        text-decoration: none;
        color: white;
        
    }   

    .topbar li {
        display : inline-block;
        position: relative;
        box-align: center;
        text-align: center;
        margin: 0px 25px;
        
    }

    .topbar ul {
        list-style-type: none;
        margin: 0 20px;
        padding: 0;
        display: inline-block;
        align-content: center;
    }

    #menu_icon {
        position: fixed;
        right: 5%;
        display: inline;
        font-size: 20px;
        
    }

    /* Side Navigation Bar FUll Width */
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #f9a11b;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 60px;
        text-align: center;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 3.5%;
        font-size: 38px;
        /*margin-right: 50px; */
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    /* Navigation Bar  End*/


/* Headings*/

h1
{
    text-align: center;
    width: 100%;
    color: orange;
    padding: 0;
    top: 30%;
    font-size:  8vw;
    
}
/*Panel Group*/

.panel-group {
    margin: 20px 30px;
}

.panel-heading:hover  {
    background-color: orange;
} 

.panel-collapse::selection {
    background-color: orange;
}

.panel-title {
    text-align: center;
}

/*Help Page */
#message_us_pnl_body {
    text-align: center;
}

#subject_text, #message_text {
    display: inline;
    border-radius: 25px;
}

/*Home Page Buttons*/
.dashboard {
    display: block;
    position: relative;
    margin: 5vw;
    padding: 30vw;
    height: 10vw;
    width: 8vw;
    background-color: lightsalmon;
}

#home_btn{
    position: relative;
    width: 15vw;
    height: 30vw;
}

#home_btn img {
    width: 15vw;
    height: 30vw;
}
